<!DOCTYPE html>
<html>
	<head>
		<title>Weather Map</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
		<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyC-vdML3SsiRpQkiLebV5SFJy2GnWxrz54",
				authDomain: "weather-map-ede48.firebaseapp.com",
				databaseURL: "https://weather-map-ede48.firebaseio.com",
				projectId: "weather-map-ede48",
				storageBucket: "",
				messagingSenderId: "108524369837"
			};
			firebase.initializeApp(config);
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
		<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	</head>	
	
	<body>
		<div id="app">	
			<div id="map"></div>
		
			<h2>Weather Map</h2>
			<h5 class="subTitle">Location Search:</h5>
			<div id="searchBar">
				<input id="searchTerm" type="text" size="20" maxlength="20" v-model="city"/>
				<button id="search" v-on:click="search">Search</button>
			</div>
			<h5 class="subTitle">Zoom Levels:</h5>
			<button id="worldZoomButton" v-on:click="setZoom(1)">World Zoom</button>
			<button id="defaultZoomButton" v-on:click="setZoom(16)">Default Zoom</button>
			<button id="isometricZoomButton" v-on:click="setZoom(18)">Isometric Zoom</button>
			<button id="buildingZoomButton" v-on:click="setZoom(20)">Building Zoom</button>
			<h5 class="subTitle">Pin Management:</h5>
			<button id="collapsePinsButton" v-on:click="collapseAllPins">Collapse All Pins</button>
			<button id="expandPinsButton" v-on:click="expandAllPins">Expand All Pins</button>
			<button id="removePinsButton" v-on:click="removeAllPins">Remove All Pins</button>
			<button id="savePinsButton" v-on:click="saveAllPins">Save Pins</button>
			<h3 id="forecastTitle">Weather Forecast:
				<select id="limit" v-model="limit" @change="forecast">
					<option value="5" >5</option>
					<option value="10" selected>10</option>
					<option value="20">20</option>
					<option value="40">40</option>
				</select>
			</h3>
			
			<div id="forecastItems">
				<forecast-item v-for="forecast in forecasts" v-bind:f="forecast"></forecast-item>
			</div>
		</div>
	</body>
  
	<script src="js/main.js"></script>
	<script src="js/class.js"></script> 
	<script src="js/component.js"></script> 
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLXCofLtfh2WElEIIpuIqIHicfKpsWBHg&callback=app.initMap"
	async defer></script>
</html>